<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="col-12 d-flex justify-content-center">
    <div class="card">
        <div class="card-header">Authentification</div>
        <form action="#" th:action="@{/login}" th:object="${user}" method="post" class="card-body">
            <div class="my-2">
                <label class="form-label">Nom d'utilisateur</label>
                <input class="form-control"
                       th:field="*{username}"
                       name="username" placeholder="Nom d'utilisateur">
            </div>
            <div class="my-2">
                <label class="form-label">Mot de passe</label>
                <input class="form-control"
                       th:field="*{password}"
                       name="password" placeholder="Mot de passe">
            </div>

            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
    </div>
</body>
</html>